@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway');
:root {
  font-family: 'Raleway', sans-serif;
}

body {
    min-height: 4000px;
    max-width: 800px;
    margin: auto;
    padding: 0 5px;
}
@media (min-width: 450px) {
    .banner-conteiner{
    display: flex;
     width: 800px;
    height: 200px;
    justify-content: space-between;
}
}
.banner-1{
    flex:1;
}
.banner-2{
    flex:1;
}
.banner-3{
    flex:1;
}


header nav p{
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}

header nav ul{
    margin-left: 0;
    padding-left: 0;
}
header nav ul li {
    list-style-type: none;
}
header nav li a{
    color: black;
    text-decoration: none;
}
header nav li a:hover{
    text-decoration: underline;
}
@media (min-width: 450px) {
    header nav{
        display: flex;
    }
        
    header ul {
        display: flex;
        flex:1;
        align-items:  center;
    }
    header nav ul li{
        margin-left: 2%
    }
    header ul li:last-child{
        margin-left: auto;
    }



.product-card{
    padding:3px;
}
.product-card img{ 
    width: 100%
    
}
.product-card div {
    display: flex;
    justify-content: space-around;
}

.product-card div button {
    width: 40%;
}

        
@media (min-width:400px){
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
    }
}

@media (min-width: 500px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 600px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
.product-card button {
   border-top: 1px solid #96d1f8;
   background: #3a434a;
   background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#3a434a));
   background: -webkit-linear-gradient(top, #ebebeb, #3a434a);
   background: -moz-linear-gradient(top, #ebebeb, #3a434a);
   background: -ms-linear-gradient(top, #ebebeb, #3a434a);
   background: -o-linear-gradient(top, #ebebeb, #3a434a);
   padding: 4.5px 9px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #010103;
   font-size: 11px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.product-card button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #b88f3d;
   }
.product-card button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
    left: -100%;

}

50% {
		left: -200%;

}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;

}

}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite; 

}




